@import "../../styles/vars";
@import "../../styles/fonts";
@import '../../styles/mixins';

.container {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $elements;
  padding: 30px;
  display: flex;
  flex-direction: column;

  @include hover (border-color, $primary);

  .productLink {
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  .image-container {
    height: 300px;
  }

  img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .title {
    font-family: Mont-Regular;
    font-size: 14px;
    line-height: 21px;
    margin: 16px 0 8px 0;
    color: $primary;
    height: 63px;
  }

  .prices {
    display: flex;
    flex-direction: row;
    font-family: Mont-Bold;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 8px;
  }

  .price {
    margin-right: 8px;
    color: $primary;
  }

  .full-price {
    font-family: Mont-Regular;
    color: $secondary;
    text-decoration: line-through;
    line-height: 28px;
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: $elements;
    margin-bottom: 8px;
  }

  .description {
    padding-top: 8px;
    font-family: Mont-Semibold;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
  }

  .description div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .name {
    margin-bottom: 8px;
    color: $secondary;
  }

  .value {
    color: $primary;
  }

  .actions {
    width: 100%;
    height: 40px;
    display: flex;
  }

  .cartButtonContainer {
    flex-grow: 1;
    margin-right: 8px;
  }
}
