@import "../../styles/fonts";
@import "../../styles/vars";
@import "../../styles/mixins";

.container {
  box-sizing: border-box;
  padding-inline: $content-padding-mobile;
  padding-bottom: 64px;

  @include on-tablet {
    padding-inline: $content-padding-tablet;
  }

  @include on-desktop {
    max-width: 1136px;
    margin: 0 auto;
  }
}

.title {
  font-size: 32px;
  line-height: 41px;
  color: $primary;
  font-family: Mont-Bold;
  margin: 0;
  margin-bottom: 32px;
}

.cartContent {
  @include on-desktop {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 32px;

  @include on-desktop {
    flex-grow: 1;
  }
}

.totalContainer {
  box-sizing: border-box;
  border: 1px solid $elements;
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 56px;

  @include on-desktop {
    width: 368px;
    height: max-content;
  }

  .top {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    border-bottom: 1px solid $elements;
    justify-content: center;
    align-items: center;
  }
}

.totalSum {
  font-family: Mont-Bold;
  font-size: 32px;
  line-height: 41px;
  color: $primary;
  margin: 0;
}

.totalItems {
  margin: 0;
  color: $secondary;
  font-size: 14px;
  line-height: 21px;
  font-family: Mont-Regular;
}

.checkoutButton {
  background-color: $primary;
  border: none;
  color: #fff;
  font-family: Mont-Regular;
  height: 48px;

  @include hover("box-shadow", 0 3px 13px 0 rgba(23, 32, 49, 0.4));
}

.emptyMessage {
  margin: 0;
  font-family: Mont-SemiBold;
  font-size: 20px;
  line-height: 24px;
  color: #313237;
}
