@import "../../styles/vars";
@import "../../styles/mixins";

.slider-container {
  margin-top: 24px;
  width: calc(235px * 4);

  @include on-tablet {
    width: calc((237px + 16px) * 4);
  }

  @include on-desktop {
    width: calc((272px + 16px) * 4);
  }
}

.slider-item {
  width: 219px !important;
  height: 439px;
  padding-right: 16px;

  @include on-tablet {
    width: 237px !important;
  }

  @include on-desktop {
    width: 272px !important;
  }

  img {
    // width: 70%;
    // margin: 0 auto;
    // height: 100%;
    // display: block;

    // @include on-tablet {
    //   width: 85%;
    // }
  }
}

.slick-slider {
  position: static;
}

.slick-prev {
  left: unset;
  right: 64px;
  top: 30px;
  background-image: url(../../../public/img/icons/icon-left.svg);

  @include on-tablet {
    right: 72px;
  }

  @include on-desktop {
    right: 48px;
  }
}

.slick-next {
  left: unset;
  right: 16px;
  top: 30px;
  background-image: url(../../../public/img/icons/icon-right.svg);

  @include on-tablet {
    right: 24px;
  }

  @include on-desktop {
    right: 0;
  }
}

.slick-arrow {
  display: block;
  width: 32px;
  height: 32px;
  border: 1px solid $gray-icons-placeholders;
  background-repeat: no-repeat;
  background-position: center;

  @include on-tablet {
    top: 20px;
  }
}

.slick-disabled {
  border-color: $elements;
}

.slick-disabled.slick-prev {
  background-image: url(../../../public/img/icons/icon-left-disabled.svg);
}

.slick-disabled.slick-next {
  background-image: url(../../../public/img/icons/icon-right-disabled.svg);
}

.slick-prev:before,
.slick-next:before {
  display: none;
}
