@import "../../styles/vars";
@import "../../styles/fonts";
@import "../../styles/mixins";

.container {
  font-size: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.homeIcon {
  display: inline-block;
  background-image: url(../../../public/img/icons/home-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.arrowIcon {
  display: inline-block;
  background-image: url(../../../public/img/icons/icon-right-disabled.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.breadcrumbLink {
  text-decoration: none;
  color: $primary;
  font-size: 12px;
  line-height: 16px;
  font-family: Mont-Regular;
  margin-right: 8px;
  color: $secondary;

  @include hover("color", $primary);
}

.breadcrumb {
  text-decoration: none;
  color: $secondary;
}
