@import "../../styles/fonts";
@import "../../styles/vars";
@import "../../styles/mixins";

.container {
  box-sizing: border-box;
  padding-inline: $content-padding-mobile;
  padding-top: 24px;

  @include on-tablet {
    padding-inline: $content-padding-tablet;
  }

  @include on-desktop {
    max-width: 1136px;
    margin: 0 auto;
  }
}

.title {
  font-family: Mont-SemiBold;
  font-size: 22px;
  line-height: 31px;
  margin-top: 24px;
  margin-bottom: 8px;
  color: $primary;
  box-sizing: border-box;
}

.homeLink {
    text-decoration: none;
    color: $primary;
    cursor: pointer;
}
